@use 'src/styles/variables';

.skeletonFeedItemContainer {
  height: 125px;
  width: 125px;
}

@media (min-width: variables.$tablet-width) {
 .skeletonFeedItemContainer {
  width: 200px;
  height: 200px;
 }
}

@media (min-width: variables.$desktop-max-width) {
  .skeletonFeedItemContainer {
   width: 250px;
   height: 250px;
  }
 }